<template>
  <div>
    <div>
      <label>Email:</label>
      <input v-model="email" class="form__input_email" type="text" name="formEmail">
      <p v-show="!isValidEmail(this.email)" class="form__email_error">
        Digite um e-mail válido
      </p>
    </div>
    <div>
      <label>Password:</label>
      <input v-model="password" class="form__input_password" type="password" name="formLastName">
      <p v-show="!isValidPassword(this.password)" class="form__password_error">
        Senha não pode ser menor que 6 caracteres
      </p>
    </div>

      <button @click="doLogin" class="form__button_do_login" >Entrar</button>
      <p v-show="this.login_error" class="form__login_error">
        Email/senha não encontrado
      </p>

  </div>
</template>

<script>
export default {
  data: () => ({
    email: '',
    password: '',
    login_error: false,
  }),
  computed: {
    isFormCompleted() {
      const {
        isValidEmail, isValidPassword, email, password,
      } = this;

      return isValidEmail(email) && isValidPassword(password);
    },
  },
  methods: {
    isValidEmail(email) {
      const emailRegex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return !!email.match(emailRegex);
    },
    isValidPassword(password) {
      return password.length >= 6;
    },
    isValidLogin(loginCheck) {
      const { email, password } = this;

      return loginCheck.email === email && loginCheck.password === password;
    },
    doLogin() {
      const validLogins = [
        {
          email: 'email_1@gmail.com',
          password: 'passord1',
        },
        {
          email: 'email_2@gmail.com',
          password: 'passord2',
        },
        {
          email: 'email_100@gmail.com',
          password: 'passord100',
        },
      ];

      if (validLogins.find(this.isValidLogin)) {
        this.login_error = false;
        this.$router.push({ name: 'UserForm', params: { user_email: this.email } });
      }
      this.login_error = true;
    },
  },
};
</script>

<style>

</style>
