<template>
  <div>
    <div>
      <label>Email: </label>
      <input v-model="email" class="form__input_email"
        type="text" name="formEmail">
    </div>
    <div>
      <label>Idade: </label>
      <input v-model="age" class="form__input_age" type="number" name="formAge">
      <p v-show="!isValidAge(this.age)" class="form__age_error">
        Idade deve ser entre 18 e 99 anos
      </p>
    </div>
    <div>
      <label>Sistema Operacional: </label>
      <select v-model="operational_system" class="form__input_operational_system"
       name="formOperationalSystem">
        <option value=''></option>
        <option value='Windows'>Windows</option>
        <option value='Linux'>Linux</option>
      </select>
    </div>
    <button @click="validateForm" class="form__button_validate_form" >Validar</button>
    <p v-show="this.valid_form" class="form__success">
      Parabéns! Formulário preenchido com sucesso!
    </p>
  </div>
</template>

<script>
export default {
  props: ['user_email'],
  data: () => ({
    email: '',
    age: 0,
    operational_system: '',
    valid_form: false,
  }),
  mounted() {
    this.email = this.user_email;
  },
  methods: {
    isValidEmail(email) {
      const emailRegex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return !!email.match(emailRegex);
    },
    isValidAge(age) {
      return age >= 18 && age <= 99;
    },
    validateForm() {
      const {
        isValidAge, age,
      } = this;

      if (isValidAge(age)) {
        this.valid_form = true;
      }
    },
  },
};
</script>

<style>

</style>
